language: go
go:
  - 1.3
services:
  - redis-server
before_script:
  - go get github.com/onsi/ginkgo
  - go get github.com/onsi/gomega
  - go get code.google.com/p/go.tools/cmd/cover
  - go install github.com/onsi/ginkgo/ginkgo
script: ginkgo -r --skipMeasurements --cover --trace
env:
    global:
        - PATH=$HOME/gopath/bin:$PATH
